# SPECTRUM KERNEL MANAGER
# Ramdisk file for profile based kernel management
# Implimentation inspired by Franco's fku profiles

# Initialization
on property:sys.boot_completed=1
   # Set default profile on first boot
   exec u:r:init:s0 root root -- /init.spectrum.sh
   exec u:r:su:s0 root root -- /init.spectrum.sh
   # Enable Spectrum support
   setprop spectrum.support 1
   # Add kernel name

   setprop persist.spectrum.kernel Rockstar


# Balance (default profile)
on property:persist.spectrum.profile=0
    exec u:r:su:s0 root root -- /gabriel/profiles/balance.sh
    exec u:r:supersu:s0 root root -- /gabriel/profiles/balance.sh

# Performance (based on nlb_performance)
on property:persist.spectrum.profile=1
    exec u:r:su:s0 root root -- /gabriel/profiles/performance.sh
    exec u:r:supersu:s0 root root -- /gabriel/profiles/performance.sh

# Battery (based on px_ext_battery)
on property:persist.spectrum.profile=2
    exec u:r:su:s0 root root -- /gabriel/profiles/battery.sh
    exec u:r:supersu:s0 root root -- /gabriel/profiles/battery.sh

# Gaming (based on bef)
on property:persist.spectrum.profile=3
    exec u:r:su:s0 root root -- /gabriel/profiles/gaming.sh
    exec u:r:supersu:s0 root root -- /gabriel/profiles/gaming.sh
