# SPECTRUM KERNEL MANAGER
# Ramdisk file for profile based kernel management
# Implimentation inspired by Franco's fku profiles

# Initialization
on property:sys.boot_completed=1
   # Set default profile on first boot
   exec u:r:init:s0 root root -- /init.spectrum.sh
   exec u:r:su:s0 root root -- /init.spectrum.sh
   # Enable Spectrum support
   setprop spectrum.support 1
   # Add kernel name

   setprop persist.spectrum.kernel Rockstar


# Balance (default profile)
on property:persist.spectrum.profile=0
    write chmod 644 /sys/devices/system/cpu/cpu0/cpufreq/scaling_governor
    write /sys/devices/system/cpu/cpu0/cpufreq/scaling_governor interactive
    write chmod 444 /sys/devices/system/cpu/cpu0/cpufreq/scaling_governor
    write chmod 644 /sys/devices/system/cpu/cpu0/cpufreq/interactive/*
	write /sys/devices/system/cpu/cpu0/cpufreq/interactive/use_sched_load 0
	write /sys/devices/system/cpu/cpu0/cpufreq/interactive/use_migration_notif 0
	write /sys/devices/system/cpu/cpu0/cpufreq/interactive/enable_prediction 0
	write /sys/devices/system/cpu/cpu0/cpufreq/interactive/above_hispeed_delay 0
	write /sys/devices/system/cpu/cpu0/cpufreq/interactive/go_hispeed_load 300
	write /sys/devices/system/cpu/cpu0/cpufreq/interactive/hispeed_freq 1094400
	write /sys/devices/system/cpu/cpu0/cpufreq/interactive/target_loads "1 960000:35 1094400:50 1209600:65 1248000:85 1344000:90 1401000:99"
	write /sys/devices/system/cpu/cpu0/cpufreq/interactive/timer_rate 40000
	write /sys/devices/system/cpu/cpu0/cpufreq/interactive/min_sample_time 0
	write /sys/devices/system/cpu/cpu0/cpufreq/interactive/ignore_hispeed_on_notif 1
	write /sys/devices/system/cpu/cpu0/cpufreq/interactive/max_freq_hysteresis 0
	write /sys/devices/system/cpu/cpu0/cpufreq/interactive/timer_slack -1
	write /sys/devices/system/cpu/cpu0/cpufreq/interactive/io_is_busy 0
	write /sys/devices/system/cpu/cpu0/cpufreq/interactive/fast_ramp_down 0
    write chmod 644 /sys/devices/system/cpu/cpu4/cpufreq/scaling_governor
    write /sys/devices/system/cpu/cpu4/cpufreq/scaling_governor interactive
    write chmod 444 /sys/devices/system/cpu/cpu4/cpufreq/scaling_governor
    write chmod 644 /sys/devices/system/cpu/cpu4/cpufreq/interactive/*
	write /sys/devices/system/cpu/cpu4/cpufreq/interactive/use_sched_load 0
	write /sys/devices/system/cpu/cpu4/cpufreq/interactive/use_migration_notif 1
	write /sys/devices/system/cpu/cpu4/cpufreq/interactive/enable_prediction 0
	write /sys/devices/system/cpu/cpu4/cpufreq/interactive/above_hispeed_delay 0
	write /sys/devices/system/cpu/cpu4/cpufreq/interactive/go_hispeed_load 300
	write /sys/devices/system/cpu/cpu4/cpufreq/interactive/hispeed_freq 998400
	write /sys/devices/system/cpu/cpu4/cpufreq/interactive/target_loads "1 768000:35 902400:50 998400:80 1094400:100"
	write /sys/devices/system/cpu/cpu4/cpufreq/interactive/timer_rate 20000
	write /sys/devices/system/cpu/cpu4/cpufreq/interactive/min_sample_time 0
	write /sys/devices/system/cpu/cpu4/cpufreq/interactive/ignore_hispeed_on_notif 1
	write /sys/devices/system/cpu/cpu4/cpufreq/interactive/max_freq_hysteresis 0
	write /sys/devices/system/cpu/cpu4/cpufreq/interactive/timer_slack -1
	write /sys/devices/system/cpu/cpu4/cpufreq/interactive/io_is_busy 0
	write /sys/devices/system/cpu/cpu4/cpufreq/interactive/fast_ramp_down 0
	write /sys/devices/system/cpu/cpu4/cpufreq/scaling_max_freq 1094400
	write /sys/devices/system/cpu/cpu0/cpufreq/scaling_max_freq 1401000
	write /sys/module/msm_thermal/core_control/enabled 1
	write /sys/module/msm_thermal/parameters/enabled 0
	write /sys/class/kgsl/kgsl-3d0/devfreq/governor msm-adreno-tz
	write /sys/class/kgsl/kgsl-3d0/devfreq/min_freq 160000000
	write /sys/class/kgsl/kgsl-3d0/devfreq/min_freq 475000000
	write /sys/class/devfreq/1c00000.qcom,kgsl-3d0/device/kgsl/kgsl-3d0/default_pwrlevel 8
	write /sys/module/adreno_idler/parameters/adreno_idler_active 1
	write /sys/module/adreno_idler/parameters/adreno_idler_idlewait 15
	write /sys/module/adreno_idler/parameters/adreno_idler_downdifferential 40
	write /sys/module/adreno_idler/parameters/adreno_idler_idleworkload 5000
	write /sys/block/mmcblk0/queue/scheduler zen
	write /sys/module/workqueue/parameters/power_efficient 1
	write /sys/module/lowmemorykiller/parameters/enable_adaptive_lm 1
	write /proc/sys/net/ipv4/tcp_congestion_control westwood

# Performance (based on nlb_performance)
on property:persist.spectrum.profile=1
    write chmod 644 /sys/devices/system/cpu/cpu0/cpufreq/scaling_governor
    write /sys/devices/system/cpu/cpu0/cpufreq/scaling_governor interactive
    write chmod 444 /sys/devices/system/cpu/cpu0/cpufreq/scaling_governor
    write chmod 644 /sys/devices/system/cpu/cpu0/cpufreq/interactive/*
	write /sys/devices/system/cpu/cpu0/cpufreq/interactive/use_sched_load 0
	write /sys/devices/system/cpu/cpu0/cpufreq/interactive/use_migration_notif 0
	write /sys/devices/system/cpu/cpu0/cpufreq/interactive/enable_prediction 0
	write /sys/devices/system/cpu/cpu0/cpufreq/interactive/above_hispeed_delay 0
	write /sys/devices/system/cpu/cpu0/cpufreq/interactive/go_hispeed_load 300
	write /sys/devices/system/cpu/cpu0/cpufreq/interactive/hispeed_freq 1209600
	write /sys/devices/system/cpu/cpu0/cpufreq/interactive/target_loads "1 960000:29 1094400:50 1209600:70 1248000:80 1344000:90 1401000:95"
	write /sys/devices/system/cpu/cpu0/cpufreq/interactive/timer_rate 40000
	write /sys/devices/system/cpu/cpu0/cpufreq/interactive/min_sample_time 0
	write /sys/devices/system/cpu/cpu0/cpufreq/interactive/ignore_hispeed_on_notif 1
	write /sys/devices/system/cpu/cpu0/cpufreq/interactive/max_freq_hysteresis 0
	write /sys/devices/system/cpu/cpu0/cpufreq/interactive/timer_slack -1
	write /sys/devices/system/cpu/cpu0/cpufreq/interactive/io_is_busy 0
	write /sys/devices/system/cpu/cpu0/cpufreq/interactive/boost 0
	write /sys/devices/system/cpu/cpu0/cpufreq/interactive/boostpulse_duration 0
	write /sys/devices/system/cpu/cpu0/cpufreq/interactive/fast_ramp_down 0
    write chmod 644 /sys/devices/system/cpu/cpu4/cpufreq/scaling_governor
    write /sys/devices/system/cpu/cpu4/cpufreq/scaling_governor interactive
    write chmod 444 /sys/devices/system/cpu/cpu4/cpufreq/scaling_governor
    write chmod 644 /sys/devices/system/cpu/cpu4/cpufreq/interactive/*
	write /sys/devices/system/cpu/cpu4/cpufreq/interactive/use_sched_load 0
	write /sys/devices/system/cpu/cpu4/cpufreq/interactive/use_migration_notif 1
	write /sys/devices/system/cpu/cpu4/cpufreq/interactive/enable_prediction 0
	write /sys/devices/system/cpu/cpu4/cpufreq/interactive/above_hispeed_delay 0
	write /sys/devices/system/cpu/cpu4/cpufreq/interactive/go_hispeed_load 300
	write /sys/devices/system/cpu/cpu4/cpufreq/interactive/hispeed_freq 998400
	write /sys/devices/system/cpu/cpu4/cpufreq/interactive/target_loads "1 768000:40 902400:65 998400:75 1094400:95"
	write /sys/devices/system/cpu/cpu4/cpufreq/interactive/timer_rate 20000
	write /sys/devices/system/cpu/cpu4/cpufreq/interactive/min_sample_time 0
	write /sys/devices/system/cpu/cpu4/cpufreq/interactive/ignore_hispeed_on_notif 1
	write /sys/devices/system/cpu/cpu4/cpufreq/interactive/max_freq_hysteresis 0
	write /sys/devices/system/cpu/cpu4/cpufreq/interactive/timer_slack -1
	write /sys/devices/system/cpu/cpu4/cpufreq/interactive/io_is_busy 0
	write /sys/devices/system/cpu/cpu4/cpufreq/interactive/boost 1
	write /sys/devices/system/cpu/cpu4/cpufreq/interactive/boostpulse_duration 0
	write /sys/devices/system/cpu/cpu4/cpufreq/interactive/fast_ramp_down 0
	write /sys/devices/system/cpu/cpu4/cpufreq/scaling_max_freq 1094400
	write /sys/devices/system/cpu/cpu0/cpufreq/scaling_max_freq 1401000
	write /sys/module/msm_thermal/core_control/enabled 1
	write /sys/module/msm_thermal/parameters/enabled 0
	write /sys/class/kgsl/kgsl-3d0/devfreq/governor msm-adreno-tz
	write /sys/class/kgsl/kgsl-3d0/devfreq/min_freq 375000000
	write /sys/class/kgsl/kgsl-3d0/devfreq/min_freq 475000000
	write /sys/class/devfreq/1c00000.qcom,kgsl-3d0/device/kgsl/kgsl-3d0/default_pwrlevel 3
	write /sys/module/adreno_idler/parameters/adreno_idler_active 1
	write /sys/module/adreno_idler/parameters/adreno_idler_idlewait 20
	write /sys/module/adreno_idler/parameters/adreno_idler_downdifferential 20
	write /sys/module/adreno_idler/parameters/adreno_idler_idleworkload 5000
	write /sys/block/mmcblk0/queue/scheduler fiops
	write /sys/module/workqueue/parameters/power_efficient 1
	write /sys/module/lowmemorykiller/parameters/enable_adaptive_lm 0
	write /proc/sys/net/ipv4/tcp_congestion_control westwood

# Battery (based on px_ext_battery)
on property:persist.spectrum.profile=2
    write chmod 644 /sys/devices/system/cpu/cpu0/cpufreq/scaling_governor
    write /sys/devices/system/cpu/cpu0/cpufreq/scaling_governor interactive
    write chmod 444 /sys/devices/system/cpu/cpu0/cpufreq/scaling_governor
    write chmod 644 /sys/devices/system/cpu/cpu0/cpufreq/interactive/*
	write /sys/devices/system/cpu/cpu0/cpufreq/interactive/use_sched_load 0
	write /sys/devices/system/cpu/cpu0/cpufreq/interactive/use_migration_notif 1
	write /sys/devices/system/cpu/cpu0/cpufreq/interactive/enable_prediction 0
	write /sys/devices/system/cpu/cpu0/cpufreq/interactive/above_hispeed_delay "20000 1094400:20000 1209600:20000 1401000:39000"
	write /sys/devices/system/cpu/cpu0/cpufreq/interactive/go_hispeed_load 400
	write /sys/devices/system/cpu/cpu0/cpufreq/interactive/hispeed_freq 960000
	write /sys/devices/system/cpu/cpu0/cpufreq/interactive/target_loads "65 960000:75 1094400:80 1209600:99 1248000:97 1344000:99 1401000:99"
	write /sys/devices/system/cpu/cpu0/cpufreq/interactive/timer_rate 96666
	write /sys/devices/system/cpu/cpu0/cpufreq/interactive/min_sample_time 11000
	write /sys/devices/system/cpu/cpu0/cpufreq/interactive/ignore_hispeed_on_notif 1
	write /sys/devices/system/cpu/cpu0/cpufreq/interactive/max_freq_hysteresis 0
	write /sys/devices/system/cpu/cpu0/cpufreq/interactive/timer_slack 160000
	write /sys/devices/system/cpu/cpu0/cpufreq/interactive/io_is_busy 0
	write /sys/devices/system/cpu/cpu4/cpufreq/interactive/boost 0
	write /sys/devices/system/cpu/cpu4/cpufreq/interactive/boostpulse_duration 0
	write /sys/devices/system/cpu/cpu4/cpufreq/interactive/fast_ramp_down 1
    write chmod 644 /sys/devices/system/cpu/cpu4/cpufreq/scaling_governor
    write /sys/devices/system/cpu/cpu4/cpufreq/scaling_governor interactive
    write chmod 444 /sys/devices/system/cpu/cpu4/cpufreq/scaling_governor
    write chmod 644 /sys/devices/system/cpu/cpu4/cpufreq/interactive/*
	write /sys/devices/system/cpu/cpu4/cpufreq/interactive/use_sched_load 0
	write /sys/devices/system/cpu/cpu4/cpufreq/interactive/use_migration_notif 1
	write /sys/devices/system/cpu/cpu4/cpufreq/interactive/enable_prediction 0
	write /sys/devices/system/cpu/cpu4/cpufreq/interactive/above_hispeed_delay 10000
	write /sys/devices/system/cpu/cpu4/cpufreq/interactive/go_hispeed_load 155
	write /sys/devices/system/cpu/cpu4/cpufreq/interactive/hispeed_freq 768000
	write /sys/devices/system/cpu/cpu4/cpufreq/interactive/target_loads "71 768000:70 902400:77 998400:87 1094400:99"
	write /sys/devices/system/cpu/cpu4/cpufreq/interactive/timer_rate 86666
	write /sys/devices/system/cpu/cpu4/cpufreq/interactive/min_sample_time 23000
	write /sys/devices/system/cpu/cpu4/cpufreq/interactive/ignore_hispeed_on_notif 0
	write /sys/devices/system/cpu/cpu4/cpufreq/interactive/max_freq_hysteresis 0
	write /sys/devices/system/cpu/cpu4/cpufreq/interactive/timer_slack 145000
	write /sys/devices/system/cpu/cpu4/cpufreq/interactive/io_is_busy 0
	write /sys/devices/system/cpu/cpu4/cpufreq/interactive/boost 1
	write /sys/devices/system/cpu/cpu4/cpufreq/interactive/boostpulse_duration 0
	write /sys/devices/system/cpu/cpu4/cpufreq/interactive/fast_ramp_down 0
	write /sys/devices/system/cpu/cpu4/cpufreq/scaling_max_freq 998400
	write /sys/devices/system/cpu/cpu0/cpufreq/scaling_max_freq 1248000
	write /sys/module/msm_thermal/core_control/enabled 1
	write /sys/module/msm_thermal/parameters/enabled 0
	write /sys/class/kgsl/kgsl-3d0/devfreq/governor powersave
	write /sys/class/kgsl/kgsl-3d0/devfreq/min_freq 160000000
	write /sys/class/kgsl/kgsl-3d0/devfreq/min_freq 375000000
	write /sys/class/devfreq/1c00000.qcom,kgsl-3d0/device/kgsl/kgsl-3d0/default_pwrlevel 8
	write /sys/module/adreno_idler/parameters/adreno_idler_active 1
	write /sys/module/adreno_idler/parameters/adreno_idler_idlewait 15
	write /sys/module/adreno_idler/parameters/adreno_idler_downdifferential 40
	write /sys/module/adreno_idler/parameters/adreno_idler_idleworkload 5000
	write /sys/block/mmcblk0/queue/scheduler noop
	write /sys/module/workqueue/parameters/power_efficient 1
	write /sys/module/lowmemorykiller/parameters/enable_adaptive_lm 0
	write /proc/sys/net/ipv4/tcp_congestion_control westwood

# Gaming (based on bef)
on property:persist.spectrum.profile=3
    write chmod 644 /sys/devices/system/cpu/cpu0/cpufreq/scaling_governor
    write /sys/devices/system/cpu/cpu0/cpufreq/scaling_governor interactive
    write chmod 444 /sys/devices/system/cpu/cpu0/cpufreq/scaling_governor
    write chmod 644 /sys/devices/system/cpu/cpu0/cpufreq/interactive/*
	write /sys/devices/system/cpu/cpu0/cpufreq/interactive/use_sched_load 1
	write /sys/devices/system/cpu/cpu0/cpufreq/interactive/use_migration_notif 1
	write /sys/devices/system/cpu/cpu0/cpufreq/interactive/enable_prediction 1
	write /sys/devices/system/cpu/cpu0/cpufreq/interactive/above_hispeed_delay 0
	write /sys/devices/system/cpu/cpu0/cpufreq/interactive/go_hispeed_load 85
	write /sys/devices/system/cpu/cpu0/cpufreq/interactive/hispeed_freq 1344000
	write /sys/devices/system/cpu/cpu0/cpufreq/interactive/target_loads "45 1248000:75"
	write /sys/devices/system/cpu/cpu0/cpufreq/interactive/timer_rate 20000
	write /sys/devices/system/cpu/cpu0/cpufreq/interactive/min_sample_time 60000
	write /sys/devices/system/cpu/cpu0/cpufreq/interactive/ignore_hispeed_on_notif 1
	write /sys/devices/system/cpu/cpu0/cpufreq/interactive/max_freq_hysteresis 79000
	write /sys/devices/system/cpu/cpu0/cpufreq/interactive/timer_slack 80000
	write /sys/devices/system/cpu/cpu0/cpufreq/interactive/io_is_busy 0
	write /sys/devices/system/cpu/cpu0/cpufreq/interactive/boost 0
	write /sys/devices/system/cpu/cpu0/cpufreq/interactive/boostpulse_duration 0
	write /sys/devices/system/cpu/cpu0/cpufreq/interactive/fast_ramp_down 0
    write chmod 644 /sys/devices/system/cpu/cpu4/cpufreq/scaling_governor
    write /sys/devices/system/cpu/cpu4/cpufreq/scaling_governor interactive
    write chmod 444 /sys/devices/system/cpu/cpu4/cpufreq/scaling_governor
    write chmod 644 /sys/devices/system/cpu/cpu4/cpufreq/interactive/*
	write /sys/devices/system/cpu/cpu4/cpufreq/interactive/use_sched_load 1
	write /sys/devices/system/cpu/cpu4/cpufreq/interactive/use_migration_notif 1
	write /sys/devices/system/cpu/cpu4/cpufreq/interactive/enable_prediction 0
	write /sys/devices/system/cpu/cpu4/cpufreq/interactive/above_hispeed_delay 0
	write /sys/devices/system/cpu/cpu4/cpufreq/interactive/go_hispeed_load 75
	write /sys/devices/system/cpu/cpu4/cpufreq/interactive/hispeed_freq 998400
	write /sys/devices/system/cpu/cpu4/cpufreq/interactive/target_loads "50 902400:69"
	write /sys/devices/system/cpu/cpu4/cpufreq/interactive/timer_rate 20000
	write /sys/devices/system/cpu/cpu4/cpufreq/interactive/min_sample_time 40000
	write /sys/devices/system/cpu/cpu4/cpufreq/interactive/ignore_hispeed_on_notif 1
	write /sys/devices/system/cpu/cpu4/cpufreq/interactive/max_freq_hysteresis 79000
	write /sys/devices/system/cpu/cpu4/cpufreq/interactive/timer_slack 80000
	write /sys/devices/system/cpu/cpu4/cpufreq/interactive/io_is_busy 0
	write /sys/devices/system/cpu/cpu4/cpufreq/interactive/boost 0
	write /sys/devices/system/cpu/cpu4/cpufreq/interactive/boostpulse_duration 0
	write /sys/devices/system/cpu/cpu4/cpufreq/interactive/fast_ramp_down 0
	write /sys/devices/system/cpu/cpu4/cpufreq/scaling_max_freq 1094400
	write /sys/devices/system/cpu/cpu0/cpufreq/scaling_max_freq 1401000
	write /sys/module/msm_thermal/core_control/enabled 1
	write /sys/module/msm_thermal/parameters/enabled 0
	write /sys/class/kgsl/kgsl-3d0/devfreq/governor msm-adreno-tz
	write /sys/class/kgsl/kgsl-3d0/devfreq/min_freq 375000000
	write /sys/class/kgsl/kgsl-3d0/devfreq/min_freq 475000000
	write /sys/class/devfreq/1c00000.qcom,kgsl-3d0/device/kgsl/kgsl-3d0/default_pwrlevel 3
	write /sys/module/adreno_idler/parameters/adreno_idler_active 0
	write /sys/module/adreno_idler/parameters/adreno_idler_idlewait 20
	write /sys/module/adreno_idler/parameters/adreno_idler_downdifferential 20
	write /sys/module/adreno_idler/parameters/adreno_idler_idleworkload 5000
	write /sys/block/mmcblk0/queue/scheduler deadline
	write /sys/module/workqueue/parameters/power_efficient 0
	write /sys/module/lowmemorykiller/parameters/enable_adaptive_lm 0
	write /proc/sys/net/ipv4/tcp_congestion_control westwood
